extends ../layout.pug

append head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.55.0/codemirror.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.2/theme/eclipse.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.2/codemirror.min.js")
    script(src="https://codemirror.net/addon/display/autorefresh.js")
    script(async src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.42.2/mode/clike/clike.min.js")
    script(src="assets/js/compiler.js")


block compile

    .row
        .col-md-12 
            .messages
        .col-md-9.push-big
            button.btn.btn-success.action-button.btn-sm(type='button', id="openEditorInputButton")
                i.fa.fa-plus(aria-hidden='true') 
                    |  New
            button.btn.btn-info.action-button.btn-sm(type='button') 
                i.fa.fa-download(aria-hidden='true')
                    |  Import
            button.btn.btn-download.btn-sm(type='button', id="saveFile") 
                i.fas.fa-save(aria-hidden='true')
                    |  Save
            button.btn.btn-warning.float-right.btn-sm(type='button') 
                i.fa.fa-cogs(aria-hidden='true')
                    |  Compile 
    
        .col-md-3.push-big
            form
                .form-group
                    label#amxVerLabel(style='display:none;') AMXX version
                    select#amxx-version(style='display:none;')
                        option(selected='') 1.8.2
                        option 1.9.0
                        option 1.10

                .form-check
                    input#download.form-check-input(type='checkbox', style='display:none;')
                    label.form-check-label#downloadLabel(for='download', style='display:none;') Download after finish

                button.btn.btn-success.action-button.btn-sm.float-right.smaFileCompileButton.push-small(type='button', style='display:none;')
                    i.fa.fa-cogs(aria-hidden='true')
                        |  Compile file

            #newFileModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title Create new file
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                            form
                                label Select AMXX version 
                                select#amxx-version-modal.form-group.float-right
                                    option(selected='') 1.8.2
                                    option 1.9.0
                                    option 1.10
                                .form-group
                                    label.col-form-label Name: (use .inc to specify include, default .sma)
                                    input#newFileName.form-control(type='text', required)
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary#saveNewFile(type='button') Save
                
            #compileOutput.modal.fade.bd-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
                .modal-dialog.modal-lg
                    .modal-content
                        .modal-header
                            h5.modal-title Compiler output
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        .modal-body
                            p Output: 
                            p.output

                            p#hashLabel.push-small(style='display:none;') File hashes
                                p#md5(style='display:none;') MD5: 
                                p#sha256(style='display:none;') SHA256: 
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                            button.btn.btn-primary.disabled#downloadFile(type='button') Download

                            


        .col-md-9.push-small
            ul#editorsList.nav.nav-tabs(role='tablist')
                li.nav-item
                    a.nav-link.active(id='plugin-default-tab', data-toggle='tab', href='#plugin-default') plugin.sma
                    span X
                li.nav-item#createNewInput
                    a#openEditorInput.nav-link
                        i.fa.fa-plus(aria-hidden='true') 
                    
            #editorsAll.tab-content
                #plugin-default.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='plugin-tab')
                    .card
                        .card-body#plugin-default-editor


        .col-md-3.push-small
            .card
                .card-header 
                    b Upload source file - .sma
                ul.list-group.list-group-flush
                    li.list-group-item
                        form
                            .form-group
                                label(for='exampleFormControlFile1') .sma files
                                input#smaFile.form-control-file(type='file', accept=".sma")

            .card.push-small
                .card-header 
                    b Upload custom .inc
                ul.list-group.list-group-flush
                    li.list-group-item
                        form
                            .form-group
                                label(for='exampleFormControlFile1') .inc files
                                input#incFile.form-control-file(type='file', accept=".inc")
                                button.btn.btn-success.push-small.btn-sm.incCacheButton(type='button', style='display:none;') Cache .inc

                                h6.push-small Cached includes: 

                                span#cachedIncList
                                 



