extends ../layout.pug

block dashboard
    .col-md-12.push-big
        .card
            .card-body
                h3.text-center Welcome to the online AMXX compiler

                h4.text-center.push-big Getting started?

                .text-center.push-small
                    a(href="/compiler")
                        button.btn.btn-primary.button-grupa(type='button') Compiler
                    a(href="/docs")  
                        button.btn.btn-secondary.button-grupa(type='button') Check docs

