.logo{
    height: 32px;
    width: 32px;
}

.nav-link{
    font-weight: 600;
    color: #dee2e6;
}

.card-body{
    background-color: #f8f9fa;
}

.push-small{
    margin-top: 20px;
}

.push-big{
    margin-top: 60px;
}

.button-grupa{
    margin: 5px;
}

.incItem{
    font-size: 15px;
    font-weight: 600;
}

.action-button{
    margin-right: 5px;
}

.editorName{
    border: 1px solid transparent; 
    padding: 1px;
}

.editorNameInput{
   width: 30px;
}

.editors-list{
    font-weight: 600;
    color: #007bff !important;
}

.btn-download {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.nav-tabs > li {
    position:relative;
}

.nav-tabs > li > a {
    display:inline-block;
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 3px;
    top: 10px;
    color: #212529;
    width: 10px;
    height: 10px;
}

.nav-tabs > li:hover > span {
    display: inline-block;
}

.nav-pills .nav-link {
    color: #000;
}

#amxVerLabel{
    padding-right: 10px;
}