.logo{
    height: 32px;
    width: 32px;
}

.nav-link{
    font-weight: 600;
    color: #dee2e6;
}

.card-body{
    background-color: #f8f9fa;
}

.push-small{
    margin-top: 20px;
}

.push-big{
    margin-top: 60px;
}

.button-grupa{
    margin: 5px;
}

.incItem{
    font-size: 15px;
    font-weight: 600;
}

.action-button{
    margin-right: 5px;
}

.editorName{
    border: 1px solid transparent; 
    padding: 1px;
}

.editorNameInput{
   width: 30px;
}

.editors-list{
    font-weight: 600;
    color: #007bff !important;
}