nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
    a.navbar-brand(href='#')
        img.logo(src='assets/img/logo.png', alt='brend')
    ul.navbar-nav
        li.nav-item(id='/')
            a.nav-link(href='/') Dashboard
        li.nav-item(id='/compiler')
            a.nav-link(href='/compiler') Compiler
        li.nav-item(id='/docs')
            a.nav-link(href='/docs') Docs
    ul.navbar-nav.ml-auto
        li.nav-item(id='/api')
            a.nav-link(href='/api') API
