doctype html
html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js")
    link(rel="stylesheet", href="assets/css/style.css")
    script(src="assets/js/main.js")
  body
    include includes/navbar.pug

    .container
        block dashboard
        block compile