doctype html
html
  head
    title AMXX Online
    block head
      link(rel="stylesheet", href="assets/css/bootstrap.min.css")
      link(rel="stylesheet", href="assets/css/style.css")
      script(src='assets/js/jquery-3.5.1.min.js')
      script(src="assets/js/bootstrap.min.js")
      script(src="assets/js/fontawesome.js")
      script(src="assets/js/main.js")

  body
    include includes/navbar.pug

    .container
        block dashboard
        block compile